# https://github.com/dante-ev/latex-action/blob/master/action.yml
# https://github.com/andycasey/paper-maker/blob/master/action.yml
# https://github.com/actions/upload-artifact
name: Test
# This workflow is triggered on pushes to the repository.
on:
  push:
    paths:
      - 'core2mlir/*'
      - 'include/*'
      - 'lib/*'
      - 'CMakeLists.txt'
      - 'hask98/*'
      - 'test/*'
      - '.github/*'

jobs:
  build:
    name: Tests
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      - name: setup git repo
        uses: actions/checkout@v1
      - name: Install dependencies
        run: |
          sudo apt-get install build-essential ninja-build cmake
      - name: build and clone MLIR
        run: |
          git clone https://github.com/llvm/llvm-project.git
          # https://mlir.llvm.org/getting_started/
          cd llvm-project && mkdir build && cd build && cmake -GNinja ../llvm/ -DLLVM_ENABLE_PROJECTS=mlir -DLLVM_ENABLE_ASSERTIONS=ON  -DCMAKE_BUILD_TYPE=Release  -DDLLVM_TARGETS_TO_BUILD=X86  -DCMAKE_INSTALL_PREFIX=$HOME/.local/ && cmake --build . --target check-mlir && ninja install && cd ../
          export PATH=$HOME/.local/bin:$PATH
          export LD_LIBRARY_PATH=$HOME/.local/lib:$LD_LIBRARY_PATH
      - name: build hask-opt
        run: |
          mkdir build && cd build && cmake ../ &&  make hask-opt && cd ../

      - name: test hask-opt
        run: |
          # TODO: run FileCheck, not the stupid makefile
          cd test && make all && ../
